extends ../_template

//- pass vars to the layout
block vars
  - var bodyClass = 'index-page'
  - var metaTitle = 'execYOUtion - better execution driven by you'
  - var pageTitle = 'execYOUtion'
  - var metaDescription = ''
  - var metaKeywords = ''


block content

  section.body-video
    video#bgvid(canplaythrough, autoplay, muted, loop)
      source(src=assets.backgroundVideo, type='video/mp4')
  .wrapper
    +header
    main.indexpage
      section.popup-video
        span#btn-close.btn-close CLOSE
        iframe#video.embed-responsive-item(allowfullscreen='1', title='Video player', src=assets.embedVideo+'?enablejsapi=1&version=3', frameborder='0')
      section.video-intro
        h1
          | !{texts.line1}
          span !{texts.line2}
          <span> !{texts.line3_word1} <i>!{texts.line3_word2}</i></span>
        span#video-play.video-play
          i(class=(texts.icon_class1 ? texts.icon_class1 : ''))
          i(class=(texts.icon_class2 ? texts.icon_class2 : ''))
        .container.buttons-container
          .page-button
            a(href=links.web_url)
              +use('telega')
              span
                span.hidden-xs CONNECT HERE
          .page-button
            a(href=links.messenger_url)
              +use('fbm')
              span
                span.hidden-xs FB MESSENGER
    +footer
