mixin footer

  +b.FOOTER.footer
    section.copyright
      .container
        aside.col-xs-12.col-md-6.copyright-text
          a(href='' + copyright.url)
            | !{copyright.text}
          .menu-copyright-links-container
            ul.menu-copyright-links.menu
              li
                a(href='' + copyright.privacy) Privacy Policy
              li
                a(href='' +  copyright.tos) Terms of Service
        aside.col-xs-12.col-sm-6.col-md-4
          ul.contact-list
            li.contact-list__item
              a(href='tel:' + contacts.phone)
                i.fa.fa-phone(aria-hidden='true')
                | !{contacts.phone}
            li.contact-list__item
              a(href='mailto:' + contacts.email)
                i.fa.fa-envelope(aria-hidden='true')
                | !{contacts.email}
        aside.col-xs-12.col-sm-6.col-md-2.action
          a(href='#!')
            i.fa.fa-home
          a(href='#!')
            i.fa.fa-youtube-play
          a(href='#!' id='expandable-btn')
            i.fa.fa-globe
  div.lightbox
  div.popup
    div.info
      b !{address.company}
      p !{address.location}
    div(lat=address.latitude lng=address.longitude zoom=address.zoom).gmap
