extends ../_template

//- pass vars to the layout
block vars
  - var bodyClass = 'index-page'
  - var metaTitle = 'Client Template'
  - var pageTitle = 'Client Template'
  - var metaDescription = ''
  - var metaKeywords = ''


block content
  - var imgLink = 'assets/img/logo.png';
  - var loopedVideo = 'http://mipex.eu/sites/default/files/video/mipex_loop-1.mp4';
  - var embeddedVideo = 'https://player.vimeo.com/video/166807261';
  - var line1 = 'HOW COUNTRIES';
  - var line2 = 'ARE PROMOTING';
  - var line3_word1 = 'integration';
  - var line3_word2 = 'of immigrants';
  - var icon_class1 = 'fa fa-circle-o';
  - var icon_class2 = 'fa fa-play';
  - var web_url = '#!';
  - var messenger_url = '#!';
  -
    var links = [
    {
    "href":"#!",
    "text":"net training"
    },
    {
    "href":"#!",
    "text":"science anchoring our approach"
    },
    {
    "href":"#!",
    "text":"medx lower back"
    },
    {
    "href":"#!",
    "text":"get started"
    },
    {
    "href":"#!",
    "text":"connect on web"
    },
    {
    "href":"#!",
    "text":"connect on messenger"
    }
    ];

  section.body-video
    video#bgvid(canplaythrough, autoplay, muted, loop)
      source(src=loopedVideo, type='video/mp4')
  .wrapper
    +header
    main
      section.popup-video
        span#btn-close.btn-close CLOSE
        iframe#video.embed-responsive-item(allowfullscreen='1', title='Video player', src=embeddedVideo+'?enablejsapi=1&version=3', frameborder='0')
      section.video-intro
        h1
          | #{line1}
          span #{line2}
          <span> #{line3_word1} <i>#{line3_word2}</i></span>
        span#video-play.video-play
          i(class=(icon_class1 ? icon_class1 : ''))
          i(class=(icon_class2 ? icon_class2 : ''))
        .container.buttons-container
          .page-button
            a(href=web_url)
              +use('telega')
              span
                span.hidden-xs connect on&nbsp;
                | web
          .page-button
            a(href=messenger_url)
              +use('fbm')
              span
                span.hidden-xs connect on&nbsp;
                | Messenger
    +footer